
header {
    background-color: #fee0e8;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
}


.navigation-bar a {
    background-color: #b85b6d;   
    padding: 10px 22px;
    border-radius: 8px;
    color: white;               
    font-weight: 600;
    margin: 0 10px;
    transition: 0.3s;
}

.navigation-bar a:hover {
    background-color: #c96a7c;  
    transform: scale(1.05);      
}


.navigation-bar {
    flex: 1;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

body {
    background-color: #fffaef;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fee0e8;
    color: black;
    text-align: center;
}

.contact-details {
    margin-right: 30px;
}

.left-side {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    margin: 0;
    font-family: "Playfair Display", serif;
    background: #f8d7dd;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.right-side {
    background: #f9dce3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-box {
    width: 80%;
    max-width: 380px;
    text-align: center;
}

.logo {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #e3b7c3;
    background: #fff;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #d57a8c;
}

a {
    text-decoration: none;
    color: #6b4f4f;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    background: #c96a7c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #b85b6d;
}
